@charset "UTF-8";

:root {
  --branco-gelo-fosco: #eef0eb;
  --branco-gelo: #f4f9e9;
  --cinza-gelo: #F4F5F7;
  --azul-acinzentado-claro: #284b63;
  --azul-acinzentado-escuro: #153243;
  --azul-acinzentado-escuro-50: #18374bbb;
  --azul-acinzetado-texto: rgb(18, 21, 26);
  --branco-10: rgb(255 255 255 / 10%);
  --branco-20: rgb(255 255 255 / 20%);
  --branco-30: rgb(255 255 255 / 30%);
  --branco-40: rgb(255 255 255 / 40%);
  --branco-50: rgb(255 255 255 / 50%);
  --branco-60: rgb(255 255 255 / 60%);
  --branco-70: rgb(255 255 255 / 70%);
  --branco-80: rgb(255 255 255 / 80%);
  --branco-90: rgb(255 255 255 / 90%);
  --branco-100: rgb(255 255 255 / 100%);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    font-family: "Century Gothic", sans-serif;
    background-color: var(--branco-100);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--azul-acinzetado-texto);
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #153243;
}
.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    padding: 28px 20px;
}
.container-logo{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 8px;
}
header img{
    height: 50px;
    width: 50px;
}
header p{
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: var(--branco-100); 
}
nav .opcao{
    padding: 12px 20px;
    border: 1px solid var(--branco-30);
    background-color: var(--branco-20);
    backdrop-filter: blur(2rem);
}
nav .opcao:hover{
    cursor: pointer;
    background-color: var(--branco-30);
    transform: scale(1.1);
    transition: all .3s ease;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
nav a{
    color: var(--branco-100);
    text-decoration: none;
    text-align: center;
}
section{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   height: 100vh;
}
footer{
    width: 100%;
    background-color: var(--azul-acinzentado-escuro);
    color: azure;
    text-align: center;
    padding: 50px 20px;

}
section #topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    height: 250px;
    padding: 50px;
    background-color: var(--azul-acinzentado-claro);
}
section #topo h2{
    text-align: center;
    font-size: 3rem;
    color: var(--branco-100);
    margin-bottom: 20px;
}
section #topo h3{
    text-align: center;
    font-size: 1.5rem;
    color: var(--branco-80);
    letter-spacing: 2px;
    font-weight: 400;
}
.container-texto-home{
    width: 80%;
    height: 300px;
    padding: 2rem;
    background-color: var(--cinza-gelo);
    backdrop-filter: blur(2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 8px 20px rgba(250, 248, 248, 0.199);
}
.container-texto-home .container-filho{
    width: 60%; 
    letter-spacing: 2px;
    line-height: 28px;  
}
.geladeira{
    height: 250px;
    width: 125px;
}
.direita{
    float: right;

}
.esquerda{
    float: left;
}

section p{
    clear: both;
    text-align: center;
    margin: 10px  80px;
    font-size: 18px;
}


.tabelaProdutos{

    margin: 10px auto;
    text-align: center;

}
.tituloTabela{
    text-align: center;
    font-size: 30px; 
    color: #ffffff;
    padding: 5px;
    border: transparent;
}
tr,td,th{
    border: 1px solid #B0C4DE;
    padding: 5px;
}
tr,td{
    font-size: 14px;
}

tr:nth-child(even){
    background-color: #b1ccf5;
}
tr:nth-child(odd){
    background-color: #83afd3;
}
legend{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}
label{
    font-size: 1rem;
    font-weight: 500;
}
input{
    padding: 5px 10px;
    border: 1px solid var(--azul-acinzentado-escuro);
    background-color: var(--branco-100);
    box-shadow: 0px 8px 20px rgba(250, 248, 248, 0.199);
}
input::placeholder{
    font-size: 0.8rem;
    letter-spacing: 1px;
}
.faleConosco{
        padding: 20px;
        width: 50%;
        margin: 20px auto;
        border: none;
        border-radius: 10px;
        background-color: var(--cinza-gelo);
        box-shadow: 0px 8px 20px rgba(250, 248, 248, 0.199);

}

.faleConosco input, .faleConosco textarea, .faleConosco select{
    margin: 5px auto;
    width: 100%;
    padding: 5px 0;
}

.faleConosco textarea{
    height: 100px;
    resize: none;
}
.container-botao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}
.faleConosco button[type="submit"]{
    width: 100%;
    margin: 0 10%;
    background-color: var(--azul-acinzentado-claro);
    color: var(--branco-100);
    font-weight: bold;
    font-size: 16px;
    padding: 12px 20px;
    box-shadow: 0px 2px 8px 2px rgba(42, 40, 40, 0.404);
    cursor: pointer;
}
.faleConosco button[type="reset"]:hover{
    background-color: #061822;
}
.faleConosco button[type="submit"]:hover{
    background-color: #061822;
}
.faleConosco button[type="reset"]{
    width: 100%;
    margin: 0 10%;
    background-color: var(--azul-acinzentado-escuro-50);
    color: var(--branco-100);
    font-weight: bold;
    font-size: 16px;
    padding: 12px 20px;
    cursor: pointer;
}
.container-produtos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
    flex-wrap: wrap;
}
.container-produtos .produto{
    width: 200px;
    height: 250px;
    border: 2px solid #6c6c6c2a;
    box-shadow: 0px 8px 20px rgba(250, 248, 248, 0.199);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-produtos .produto img{
    width:  100%;
    height: 150px;
}

.container-produtos .produto:hover{
    transform: scale(1.1);
    transition: all .3s ease;
    cursor: pointer;
    box-shadow: 0px 8px 20px rgba(35, 32, 188, 0.199);
}
